fastapi
uvicorn
python-multipart
pydantic
google-generativeai
python-dotenv
crewai
pandas
langchain
langchain-experimental
langchain-community
langchain-google-genai
SQLAlchemy
numpy
matplotlib
seaborn
requests
beautifulsoup4
playwright
pinecone
pdfplumber
python-docx
mammoth
onnxruntime
transformers
psycopg2-binary